" some map

" map n to <C-f> to goto next page
"map n <C-f>

" and p to prepage
"map p <C-b>

" map I to zi, and O to zo
"map I zi
"map O zo

" if start apvlv as fullscreen mode, default is no
set fullscreen=no

" zoom value, default is fitwidth
" zoom has 4 styles
" a float type number
" fitwidth
" fitheight
" normal
"set zoom=fitwidth

" set window size
set width=800
set height=600

" set command timeout between two key press 
set commandtimeout=2000

" set default dir
set defaultdir=C:\

" set if use content view
set content=yes

" set weather use continuous view 
" make sure the autoscrollpage is set to "yes" if you want to set this to yes
set continuous=yes

" set a pad to continuous page
set continuouspad=2

" set if auto scroll page when at the end or begin of one pdf page
set autoscrollpage=yes

" set if auto scroll doc from 1st page when goto the last page
set autoscrolldoc=yes

" set if disable ~/.apvlvinfo, default is no
set noinfo=no

" set pdf object cache size
set pdfcache = 4

" set if use right and bottom scrollbar
set scrollbar = no
